body {
    background-color: #272727;
    color: #FFF;
    font-family: 'Trebuchet MS';
    font-size: 16px;
}
pre {
    font-family: 'Courier New';
    font-size: 12px;
}
input[type="submit"],
input[type="button"],
a {
    color: #BEEC2B;
    text-decoration: none;
    border: 1px solid;
    padding-left: 4px;
    border-radius: 5px;
    padding-right: 4px;
    font-size: 12px;
    background: none;
}
input[type="submit"]:active,
input[type="button"]:active,
a:active {
    color: #EC882B;
}
h1 {
    font-size: 1.4em;
}
li {
    margin-bottom: 10px;
    list-style-type: square;
}
label.formLabel
{
    min-width: 140px;
    display: inline-block;
    border-bottom: 1px solid;
}
#led td
{
    vertical-align: top;
}
table.map
{
    border: 0px;
    border-spacing: 7px;
}
.cell
{
    padding: 0px;
    border: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-sizing: border-box;
}
table.map td.notile
{
    border-radius: 50px;
    background: #000;
}
.tile
{
    background: #000;
}
.type2
{
    background: #7A3F3F;
}
.light
{
    width: 8px;
    height: 12px;
    background-color: yellow;
    border-radius: 3px;
    margin-top: -30px;
    float: right;
    box-shadow: 0px -3px 3px 0px yellow;
}
.tileEvents
{
    float: left;
    margin-top: -30px;
    margin-left: 0px;
    width: 4px;
    height: 4px;
    border: 3px dotted rgb(245, 255, 0);
    border-radius: 5px;
}
.tileEntrances
{
    float: left;
    margin-top: -15px;
    margin-left: 10px;
    width: 9px;
    height: 11px;
    border: 1px solid red;
    border-radius: 4px 4px 0px 0px;
}
.structure
{
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 4px;
    background-color: #999;
}
.character
{
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50px;
    background-color: #090;
}
.character3 {
    background-color: #33F;
}
.createHolder
{
    width: 100%;
    height: 100%;
}
iframe
{
    min-height: 500px;
    min-width: 500px;
    border: 0px;
}
#lighttool, #itemtool
{
    border-top: 1px solid #555;
    padding-top: 10px;
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
}
input.sss
{
    width: 20px;
}
input.ss
{
    width: 30px;
}
